.wrapperClassName{
    border: 1px solid blue;
    width: 80%;
}
.editorClassName{
    height: 250px;
}
.edit_popup{
    background:#e1e1e1; 
    margin: 0 auto;
    width:160px; 
    position: absolute;; 
    z-index:41;
    top: 25%;
    padding:30px; 
}
table#userlist, table#bookinglist{
    width: 100%;
    text-align: left;
}
table#userlist, table#userlist th, table#userlist td, table#bookinglist, table#bookinglist th, table#bookinglist td{
    border: 1px solid black;
    border-collapse: collapse;
}
table#userlist th, table#userlist td, table#bookinglist th, table#bookinglist td{
    padding-left: 5px;
}
table#userlist caption, table#bookinglist caption{
    font-size: 2rem;
    background: lightgray;
}
table#userlist img{
    width: 60px;
    height: 60px;
}
table#userlist tr:nth-child(odd), table#bookinglist tr:nth-child(odd) {
    background-color: rgb(223, 228, 245);
}
.userlist__edit{
    display: block;
    cursor: pointer;
    color: orangered;
    font-weight: 600;
}
.userlist__edit-panel{
    background: #fff;
}
.userlist__edit-panel label, .userlist__edit-panel input{
    margin: 0 5px;
}
.userlist__courses{
    list-style: none;
    display: inline-block;
    padding: 0;
}
.userlist__remove-user-btn{
    color: red;
    font-weight: 600;
}
table#bookinglist select{
    margin: 0 5px;
}
.paginator{
    display: inline-block;
    padding: 0;
    list-style: none;
}
.paginator li{
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}
.paginator__current-page{
    font-weight: bold;
    color: red;
}