.wrapperClassName{
    border: 1px solid blue;
    width: 80%;
}
.editorClassName{
    height: 250px;
}
.edit_popup{
    background:#e1e1e1; 
    margin: 0 auto;
    width:160px; 
    position: absolute;; 
    z-index:41;
    top: 25%;
    padding:30px; 
}